.container{
  background-color: #eee;
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  &-top-btns{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    .divi-line{
      width: 1Px;
      height: 50Px;
      background-color: #eee;
    }
    .ctrl-btn{
      padding: 40px 0;
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .iconfont{
        margin-bottom: 20px;
        &.icon-qunzu{
          font-size: 48px;
          position: relative;
          top: -10px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .tips{
    padding: 40px 0  40px 5%;
  }
  &-top-search{
    padding-top: 30px;
    flex: 1;
    background-color: #fff;
    .search-input{
      width: 90%;
      margin: 0 auto;
      padding: 15px 0 15px 15px;
      margin-bottom: 50px;
      border: 1px solid #eee;
      border-radius: 5px;
    }
    .search-btn{
      width: 90%;
      margin: 0 auto;
      background-color: #1AAD16;
      padding: 30px 0;
      border-radius: 5px;
      color: #fff;
    }

    .hot-city{
      .hot-container{
        padding-left: 40px;
        margin-top: 30px;
        .hot-country{
          margin-bottom: 20px;
        }
        .hot-cities{
          display: flex;
          flex-wrap: wrap;
          .hot-city{
            padding: 20px 25px;
            background-color: #eee;
            border-radius: 10px;
            margin-right: 20px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
.share-img-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  .share-img-content{
    padding: 0 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .info-img-title{
      line-height: 100px;
    }
    .info-img{
      width: 70vw;
      height: 70vw;
    }
    .hide-info-img{
      width: 100%;
      padding: 30px 0;
      background-color: transparent;
      color: #1AAD16;
      font-size: 28px;
      transition: all .5s;
      margin: 20px 0;
      &:active{
        opacity: .6;
      }
    }
  }
}